/* General Styles */
body {
    font-family: Cambria, Georgia, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700


.domine-<uniquifier> {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/* Container Styles */
.container {
    display: flex;
    padding: 0 0vw;
    box-sizing: border-box;
    min-height: 100vh;
}

/* Left Column Styles */
.left-column {
    width: 25%;
    background-image: url('https://i.pinimg.com/564x/08/60/10/08601040b7793fb7faf13d250acfe611.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    box-sizing: border-box;
  /*  height: 150vh;*/
    /*color: #013220;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
    border: 0 solid #fff;
    z-index: 1;
    text-align: center;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.left-column-inner {
    flex-grow: 1; /* Make it occupy remaining space */
    margin-top: 32vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5vw;
    border-radius: 0.5vw;
    width: 95%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
	margin-bottom: 0.5vw; /* Adjust margin-bottom as needed */
}


.contact-info {
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
	font-size: 2vw;
	color: #013220;
}

.education, .languages {
	color: #ffffff;
	font-size: 2vw;
}

/* Language Dots */
.language {
    display: flex;
    align-items: center;
	font-size: 2vw;
}

.language-name {
    margin-right: 1vw; /* Adjust margin as needed */
    text-align: left;
	margin-bottom: 0.25vw; /* Adjust margin-bottom as needed */
}

.dots {
    display: flex;
}

.dot {
    width: 1.5vw; /* Adjust width as needed */
    height: 1.5vw; /* Adjust height as needed */
    border-radius: 50%;
    border: 0.1vw solid white; /* Border color */
    margin-right: 0.25vw; /* Adjust margin between dots as needed */
	margin-bottom: 0.25vw; /* Adjust margin-bottom as needed */
}

.dot.filled {
    background-color: white; /* Filled dot color */
}

/* Right Column Styles */
.right-column {
    width: 75%;
    padding-left: 0vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.top-right {
    padding: 1vw;
    background-color: #013220;
    color: #ffffff;
    box-sizing: border-box;
	font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;  /*Adjusted to take up 50% of the right column height */
/*    height: 24vh;*/
}

header {
    width: 100%;
    text-align: left;
}

.bottom-right {
    padding: 1vw;
    overflow-y: auto;
	font-size: 2vw;
    flex: 8; /* Adjusted to take up 50% of the right column height */
/*    box-sizing: border-box;*/
}

.job h3 {
    margin-bottom: 0;
}

section {
    margin-bottom: 1vw;
}

.specializations {
    display: flex;
    flex-wrap: wrap;
	font-size: 2vw;
}

.specialization {
    margin: 1vw;
}

.circle {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: #013220;*/
    color: #ffffff;
}

.circle1 {
    background-image: linear-gradient(to bottom right, #093824, #0E5838);
}

.circle2 {
    background-image: linear-gradient(to bottom right, #0E5838, #168D5A);
}

.circle3 {
    background-image: linear-gradient(to bottom right, #168D5A, #1CB070);
}

.circle4 {
    background-image: linear-gradient(to bottom right, #1CB070, #ACE6CD);
}


/* Skills Section */
.skills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1vw;
}

.skill {
    flex: 1 1 45%; /* Two columns with some spacing */
    margin-right: 5%;
    margin-bottom: 1vw;
}

.skill:nth-child(2n) {
    margin-right: 0; /* No margin on the right for every second item */
}

.skill-name {
    margin-bottom: 0.5vw;
}


.progress {
    background-color: #e0e0e0;
    border-radius: 0.5vw;
    overflow: hidden;
}

.progress-bar {
    height: 1vw;
    background-color: #013220;
}

.progress-95 .progress-bar {
    width: 95%;
}

.progress-80 .progress-bar {
    width: 80%;
}

.progress-90 .progress-bar {
    width: 90%;
}

.progress-95 .progress-bar {
    width: 95%;
}

.progress-90 .progress-bar {
    width: 90%;
}

.progress-75 .progress-bar {
    width: 75%;
}
